html {
    background: url("./background-home2.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
}
form button {
    padding: 5px;
    color: blue;
}
form button:hover {
    cursor: pointer;
}
button {
    padding: 5px;
}
h1 {
    text-align: center;
    color: navy;
}
h2 {
    color: navy;
}
h4 {
    text-align: center;
    color: rgb(82, 80, 80);
    font-size: 25px;
}
h6 {
    text-align: center;
    font-size: 25px;
    color: navy;
}
p {
    font-size: 25px;
    color: rgb(102, 100, 100);
}
a {
    text-decoration: none;
}

a:visited {
    color: blue;
}
ul li {
    list-style-type: none;
}
.companyInfo {
    background-color: rgba(255,255,255,0.6);
    color: darkgrey;
    text-align: center;
}
.agentHomes {
    text-align: center;
    font-size: 28px;
}
.agentBtns {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.agencyBtns {
display: flex;
justify-content: space-between;
padding: 20px;
}
.createBtn {
    color: blue;
}
.allAgency {
    padding: 25px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.allAgency ul { 
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}