<h1>New Home Form!</h1>

<form action="/home" method="POST">

<input type="text" name="name" placeholder="Name of Property">
<input type="number" name="price" placeholder="Price">
<input type="text" name="location" placeholder="Located in">
<input type="number" name="sqFoot" placeholder="Square Footage">
<input type="number" name="numberOfBedrooms" placeholder="Number of Bedrooms">
<input type="number" name="numberOfBathrooms" placeholder="Number of Bathrooms">

<input type="submit" value="Create Listing">
</form>