<a href="/agency">
<h1>Brighter Homes Realtor Finder</h1>
</a>
<h4>Revolutionizing the way you buy homes, one day at a time.</h4>
{{!-- <a href="/agency/new">
<button>Create New Agency</button>
</a> --}}

<ul>
    {{#each allAgencys}}
    <li>
        <a href="/agency/{{id}}">{{name}}</a>
    </li>
    {{/each}}
</ul>

<button>
    <a href="/agent">View all agents</a>
</button>