<a href="/agency">
    <h1>Brighter Homes Realtor Finder</h1>
</a>
<h4>Revolutionizing the way you buy homes, one day at a time.</h4>

<h6>Choose your agency:</h6>
{{!-- <a href="/agency/new">
<button>Create New Agency</button>
</a> --}}
<div class="allAgency">
    <ul>
        {{#each allAgencys}}
        <li>
            <a href="/agency/{{id}}">{{name}}</a>
        </li>
        {{/each}}
    </ul>
</div>

<button>
    <a href="/agent">View all agents</a>
</button>